<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<title>Start Page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class = "form">
        <form action=/ method="post">
            <div class="title">Find Sunset/Sunrise Times!</div>
            <div class="input-container ic2">
                <input type="text" id ="name" name="name"class ="input">
                <div class="cut"></div>
                <label for="name" class="placeholder">Enter Name</label>
            </div>
            <div class="input-container ic2">
                <input type="text" name="lat" id="lat" class="input">
                <div class="cut"></div>
                <label for="lat" class="placeholder">Latitude</label>
            </div>
            <div class="input-container ic2">
                <input type="text" name="long" id= "long" class="input">
                <div class="cut"></div>
                <label for="long" class="placeholder">Longitude</>
            </div>
            <input type="Submit" value="Submit Location" class="button">
            <input type="button" onclick="location.href='/location'" value="SunriseSunset" class="button" />
        </form>

    </div>
</body>
</html>