<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<title>Result</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <%- imageBackground %>
    <div class="overlay"></div>
    <div class="text">
        <%- title %>
    </div>
    <div class="circle">
        <div id="circle-text">
            <%- content %>
        </div>
    </div>

</body>
</html>